<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypatch.www.member.mapper.MemberMapper">
	<insert id="insertMemberAuth">
		insert into JOINUS_AUTH
		VALUES(#{member_id},'ROLE_MEMBER')
	</insert>
	<insert id="insertMember">
		insert into JOINUS_MEMBER
		VALUES(#{member_id},#{member_name},#{member_pwd},'N',#{member_nick},sysdate)
	</insert>
	<select id="chkNick" resultType="string">
		select member_nick
		from joinus_member
		where member_nick = #{member_nick}
	</select>
	<select id="chkEmail" resultType="string">
		select member_id
		from joinus_member
		where member_id = #{member_id}
	</select>
	<resultMap type="com.mypatch.www.member.domain.MemberDTO" id="memberMap">
		<id property="member_id" column="member_id"/>
		<result property="member_pwd" column="member_pwd"/>
		<result property="member_name" column="member_name"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="com.mypatch.www.member.domain.AuthDTO" id="authMap">
		<result property="member_id" column="member_id"/>
		<result property="auth_rank" column="auth_rank"/>
	</resultMap>
	<select id="selectUser" resultMap="memberMap">
		select member.member_id, member.member_pwd, member.member_name, auth.member_id, auth.auth_rank
		from joinus_member member
			left outer join joinus_auth auth
			on member.member_id = auth.member_id
		where member.member_id = #{userid}
	</select>
	
	<select id="profileread" resultType="com.mypatch.www.board.domain.BoardDTO">
		SELECT *
		FROM joinus_boardattach A,
			(SELECT last.*
			 FROM(SELECT board_num_order.*, rownum rn
				  FROM(SELECT *
					   FROM joinus_board
					   WHERE member_id = #{member_id}
					   ORDER BY board_num DESC) board_num_order
                  ) last
			 WHERE rn
			 BETWEEN 1 AND 5) B
		WHERE A.board_num = B.board_num
	</select>
</mapper>