<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypatch.www.member.mapper.MemberMapper">
	<select id="searchMemberList" resultMap="memberMap">
		select member.member_id, 
			   member.member_pwd, 
			   member.member_name, 
			   member.member_nick,
			   member.member_alarm,
			   pro.profile_uuid, 
			   pro.profile_filename 
		from joinus_member member
		left outer join joinus_profile pro
		on member.member_id = pro.member_id
		where member.member_nick like '%'||#{searchKeyword}||'%' 
		or member.member_name like '%'||#{searchKeyword}||'%'
	</select>
	<delete id="deleteAuth">
		delete from joinus_auth
		where member_id = #{member_id}
	</delete>
	<delete id="deleteMember">
		delete from joinus_member
		where member_id = #{member_id}
	</delete>
	<update id="updatePwd">
		update joinus_member
		set member_pwd = #{member_pwd}
		where member_id = #{member_id}
	</update>
	<delete id="deleteProfile">
		delete from joinus_profile
		where member_id = #{member_id}
	</delete>
	<insert id="insertProfile">
		insert into joinus_profile
		values(#{profile_uuid}, #{member_id}, #{profile_fileName})
	</insert>
	<update id="updateMember">
		update joinus_member
		set member_name = #{member_name},
			member_nick = #{member_nick},
			member_alarm = #{member_alarm}
		where member_id = #{member_id}
	</update>
	<select id="selectMe" resultMap="memberMap">
		select member.member_id, 
			   member.member_pwd, 
			   member.member_name, 
			   member.member_nick,
			   member.member_alarm,
			   pro.profile_uuid, 
			   pro.profile_filename
		from joinus_member member
		left outer join joinus_profile pro
		on member.member_id = pro.member_id
		where member.member_id = #{member_id}
	</select>
	<insert id="insertMemberAuth">
		insert into JOINUS_AUTH
		VALUES(#{member_id},'ROLE_MEMBER')
	</insert>
	<insert id="insertMember">
		insert into JOINUS_MEMBER
		VALUES(#{member_id},#{member_name},#{member_pwd},'N',#{member_nick},sysdate)
	</insert>
	<select id="chkNick" resultType="string">
		select member_nick
		from joinus_member
		where member_nick = #{member_nick}
	</select>
	<select id="chkEmail" resultType="string">
		select member_id
		from joinus_member
		where member_id = #{member_id}
	</select>
	<resultMap type="com.mypatch.www.member.domain.ProfileDTO" id="profileMap">
		<id property="profile_uuid" column="profile_uuid"/>
		<result property="profile_fileName" column="profile_fileName"/>
	</resultMap>
	<resultMap type="com.mypatch.www.member.domain.MemberDTO" id="memberMap">
		<id property="member_id" column="member_id"/>
		<result property="member_pwd" column="member_pwd"/>
		<result property="member_name" column="member_name"/>
		<result property="member_nick" column="member_nick"/>
		<result property="member_alarm" column="member_alarm"/>
		<collection property="authList" resultMap="authMap"></collection>
		<collection property="profileDTO" resultMap="profileMap"></collection>
	</resultMap>
	<resultMap type="com.mypatch.www.member.domain.AuthDTO" id="authMap">
		<result property="member_id" column="member_id"/>
		<result property="auth_rank" column="auth_rank"/>
	</resultMap>
	<select id="selectUser" resultMap="memberMap">
		select member.member_id, 
			   member.member_pwd, 
			   member.member_name, 
			   auth.member_id, 
			   auth.auth_rank
		from joinus_member member
		left outer join joinus_auth auth
		on member.member_id = auth.member_id
		where member.member_id = #{member_id}
	</select>

	
	<select id="profileimg" resultType="com.mypatch.www.board.domain.BoardAttachDTO">
		SELECT *
		FROM joinus_boardattach A,
			(SELECT last.*
			 FROM(SELECT board_num_order.*, rownum rn
				  FROM(SELECT *
					   FROM joinus_board
					   WHERE member_id = #{member_id}
					   ORDER BY board_num DESC) board_num_order
                  ) last
			 WHERE rn
			 BETWEEN 6*#{cnt}+1 AND 6*(#{cnt}+1)) B
		WHERE A.board_num = B.board_num
	</select>

	<select id="profileboard" resultType="com.mypatch.www.board.domain.BoardDTO">
		SELECT last.*
		FROM(SELECT board_num_order.*, rownum rn
             FROM (SELECT *
                   FROM joinus_board
                   WHERE member_id = #{member_id}
                   ORDER BY board_num DESC) board_num_order
              ) last
		WHERE rn
		BETWEEN 6*#{cnt}+1 AND 6*(#{cnt}+1)
	</select>
	
	<select id="profilecnt" resultType="Integer">
		SELECT COUNT(board_num)
		FROM joinus_board
		WHERE member_id = #{member_id}
	</select>

	<insert id="follow">
		insert into joinus_follow
		VALUES(#{member_id},#{member_nick})
	</insert>
	
	<delete id="unfollow">
		delete from joinus_follow
		where member_nick=#{member_nick}
		and member_id=#{member_id}
	</delete>
	
	<select id="followingCnt" resultType="int">
		SELECT COUNT(*)
		FROM joinus_follow
		WHERE member_id=#{member_id}
	</select>
	
	<select id="followerCnt" resultType="int">
		SELECT COUNT(*)
		FROM joinus_follow
		WHERE member_nick=#{member_nick}
	</select>
	
	<select id="followingProfile" resultType="com.mypatch.www.member.domain.ProfileDTO">
		select *
		from joinus_profile p,
	     	(select m.member_id
	      	 from joinus_member m,
	              (SELECT member_nick
	               FROM joinus_follow
	               WHERE member_id=#{member_id}) a
	      	 where m.member_nick = a.member_nick) b
		where p.member_id=b.member_id
	</select>
	
	<select id="followingInfo" resultType="com.mypatch.www.member.domain.MemberDTO">
		SELECT *
		FROM joinus_member jm,
	         (SELECT *
	          FROM joinus_follow
	          WHERE member_id=#{member_id}) jf
		WHERE jm.member_nick = jf.member_nick
	</select>
	
	<select id="followerProfile" resultType="com.mypatch.www.member.domain.ProfileDTO">
		select *
		from joinus_profile p,
		     (select m.member_id
		      from joinus_member m,
		            (SELECT member_id
		             FROM joinus_follow
		             WHERE member_nick=#{member_nick}) f
		      where m.member_id = f.member_id) b
		where p.member_id=b.member_id
	</select>
	
	<select id="followerInfo" resultType="com.mypatch.www.member.domain.MemberDTO">
		SELECT *
		FROM joinus_member jm,
		    (SELECT member_id
		     FROM joinus_follow
		     WHERE member_nick=#{member_nick}) jf
		WHERE jm.member_id = jf.member_id
	</select>
	
	<select id="followChk" resultType="integer">
		SELECT count(member_id)
		FROM joinus_follow
		WHERE member_id=#{member_id}
		AND member_nick=#{member_nick}
	</select>
</mapper>